{% extends "pokemon/base.html" %}
{% load mathfilters %}

{% block content %}
    <div class="container">
        {% if team.user == request.user %}
            <div>
                <a class="btn btn-info btn-sm mt-1 mb-1" href="{% url 'team-update' object.id %}">Update</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'team-delete' object.id %}">Delete</a>
            </div>
        {% endif %}
            <div class="row">
                <div class="col-3 border border-info">Username: {{object.user.username}}</div>
                <div class="col-3 border border-info">Name in Game: {{object.name}}</div>
                <div class="col-3 border border-info">Team Name: {{object.teamname}}</div>
                <div class="col-3 border border-info">Game: {{object.game}}</div>
            </div>
            <div class="row">
                <div class="col-3 border border-info">Region: {{object.region}}</div>
                <div class="col-3 border border-info">ID No: {{object.id_no|stringformat:'05d'}}</div>
                <div class="col-3 border border-info">Pokédex Seen-Caught: {{object.pokedex_seen}}-{{object.pokedex_caught}}</div>
                <div class="col-3 border border-info">Money: {{object.money}}</div>
            </div>
            <div class="row">
                <div class="col-3 border border-info">Date Started: {{object.date_started|date:"F jS, Y"}}</div>
                <div class="col-3 border border-info">Time: {{object.time_hours}}:{{object.time_minutes|stringformat:'02d'}}</div>
                <div class="col-3 border border-info">Badges: {{object.badges}}</div>
                <div class="col-3 border border-info">Hall of Fame: {{object.hall_of_fame|date:"F jS, Y"}}</div>
            </div>
            <div class="row">
                <div class="col border border-info">Victories: {{object.victories}}</div>
                <div class="col border border-info">Formal Defeats: {{object.formal_defeats}}</div>
                <div class="col border border-info">Total Defeats: {{object.total_defeats}}</div>
            </div>
            <p>Main:</p>
            <div class="container">

            {% for pokemon in object.main.all %}

                {% if forloop.counter|mod:2 != 0 %}
                    <div class="row text-center">
                {% endif %}

                <div class="col m-1 border border-3 border-info" style="border-radius: 1rem;">
                    <div class="container p-0">
                        <div class="row">
                            <div class="col border-end border-3 border-info">
                                <img class="m-1" src="{{ pokemon.sprite }}" alt="no image">
                                <p class="m-1"><a class="link-primary" href="{% url 'pokemon-detail' pokemon.id %}">{{ pokemon.name }}</a></p>
                                <p class="m-1">{{ pokemon.breed }}{{ pokemon.gender }} Lv. {{ pokemon.level }}</p>
                            </div>
                            <div class="col my-auto">
                                <p class="m-1">Types: 
                                    {% if pokemon.type1 and pokemon.type1|lower in types_pics_list %}
                                        <img src="/media/types/{{ pokemon.type1 }}.png" alt="">
                                    {% elif pokemon.type1 %}
                                        {{pokemon.type1}}, 
                                    {% else %}
                                        <img src="/media/types/{{ pokemon.type_1 }}.png" alt="">
                                    {% endif %}
                                    {% if pokemon.type2 and pokemon.type2|lower in types_pics_list %}
                                        <img src="/media/types/{{ pokemon.type2 }}.png" alt="">
                                    {% elif pokemon.type2 %}
                                        {{pokemon.type2}}
                                    {% else %}
                                        <img src="/media/types/{{ pokemon.type_2 }}.png" alt="">
                                    {% endif %}
                                </p>
                                <p class="m-1">Ability: {{ pokemon.ability }}</p>
                                <p class="m-1">Nature: {{ pokemon.nature }}</p>
                                <p class="m-1">Held Item: {{ pokemon.item }}</p>
                            </div>
                        </div>
                        <div class="row border-top border-3 border-info">
                            <div class="col">
                                <p class="m-1">{{ pokemon.move1 }}</p>
                            </div>
                            <div class="col">
                                <p class="m-1">{{ pokemon.move2 }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="m-1">{{ pokemon.move3 }}</p>
                            </div>            
                            <div class="col">
                                <p class="m-1">{{ pokemon.move4 }}</p>
                            </div>
                        </div>
                    </div>                
                </div>

                {% if forloop.counter|mod:2 == 0 %}
                    </div>
                {% endif %}

            {% endfor %}

            </div>

            <p>Also:</p>
            {% for pokemon in object.box.all %}

                {% if forloop.counter|mod:2 != 0 %}
                    <div class="row text-center">
                {% endif %}

                <div class="col m-1 border border-3 border-info" style="border-radius: 1rem;">
                    <div class="container p-0">
                        <div class="row">
                            <div class="col border-end border-3 border-info">
                                <img class="m-1" src="{{ pokemon.sprite }}" alt="no image">
                                <p class="m-1"><a class="link-primary" href="{% url 'pokemon-detail' pokemon.id %}">{{ pokemon.name }}</a></p>
                                <p class="m-1">{{ pokemon.breed }}{{ pokemon.gender }} Lv. {{ pokemon.level }}</p>
                            </div>
                            <div class="col my-auto">
                                <p class="m-1">Types: 
                                    {% if pokemon.type1 and pokemon.type1|lower in types_pics_list %}
                                        <img src="/media/types/{{ pokemon.type1 }}.png" alt="">
                                    {% elif pokemon.type1 %}
                                        {{pokemon.type1}}, 
                                    {% else %}
                                        <img src="/media/types/{{ pokemon.type_1 }}.png" alt="">
                                    {% endif %}
                                    {% if pokemon.type2 and pokemon.type2|lower in types_pics_list %}
                                        <img src="/media/types/{{ pokemon.type2 }}.png" alt="">
                                    {% elif pokemon.type2 %}
                                        {{pokemon.type2}}
                                    {% else %}
                                        <img src="/media/types/{{ pokemon.type_2 }}.png" alt="">
                                    {% endif %}
                                </p>
                                <p class="m-1">Ability: {{ pokemon.ability }}</p>
                                <p class="m-1">Nature: {{ pokemon.nature }}</p>
                                <p class="m-1">Held Item: {{ pokemon.item }}</p>
                            </div>
                        </div>
                        <div class="row border-top border-3 border-info">
                            <div class="col">
                                <p class="m-1">{{ pokemon.move1 }}</p>
                            </div>
                            <div class="col">
                                <p class="m-1">{{ pokemon.move2 }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="m-1">{{ pokemon.move3 }}</p>
                            </div>            
                            <div class="col">
                                <p class="m-1">{{ pokemon.move4 }}</p>
                            </div>
                        </div>
                    </div>                
                </div>

                {% if forloop.counter|mod:2 == 0 %}
                    </div>
                {% endif %}

                {% endfor %}
            </div>
            <p>Remarks: {{object.remarks}}</p>
            <br>
    </div>
   
{% endblock content %}