{% extends "pokemon/base.html" %}
{% block content %}
    <h1>Teams Page</h1>
    <div class="container">
        <a class="btn btn-info btn-sm mt-1 mb-1" href="{% url 'team-create' %}">New Team</a>
        {% for team in teams %}
            {% if team.user == request.user %}
                <h2><a href="{% url 'team-detail' team.id %}">{{ team.teamname }}</a></h2>
                <p>Main:</p>
                <div class="row">
                    {% for pokemon in team.main.all %}
                        <div class="col-4 border border-info"><a href="{% url 'pokemon-detail' pokemon.id %}">{{ pokemon.name }}</a> ({{pokemon.breed}})</div>
                    {% endfor %}
                </div>

                <p>Also:</p>
                <div class="row">
                    {% for pokemon in team.box.all %}
                        <div class="col-4 border border-info"><a href="{% url 'pokemon-detail' pokemon.id %}">{{ pokemon.name }}</a> ({{pokemon.breed}})</div>
                    {% endfor %}
                </div>
                <p>Remarks: {{team.remarks}}</p>
                <br>
            {% endif %}
        {% endfor %}

        {% if is_paginated %}

        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}

        {% endif %}
    </div>
   
{% endblock content %}